<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132701474533-en1q25sct1pqo3nt1p9c7r7i1ih7olch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132701474533-en1q25sct1pqo3nt1p9c7r7i1ih7olch</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hHEcdIdfguBA_Gfdunv3HqzMk-A2uRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>132701474533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fighting.TEE8ACADEMY</string>
	<key>PROJECT_ID</key>
	<string>tee8academy-04042020</string>
	<key>STORAGE_BUCKET</key>
	<string>tee8academy-04042020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132701474533:ios:fae99a1887a7e6ee418e0c</string>
	<key>DATABASE_URL</key>
	<string>https://tee8academy-04042020.firebaseio.com</string>
</dict>
</plist>